@inherits LearningModule<SharedLibrary.DataTransferObjects.ExampleDto>

@if (current != null)
{
	var examples = current.Value.Split(new []{'\n', '\r'}, StringSplitOptions.RemoveEmptyEntries);
	<p><b>
		@foreach (var example in examples)
		{
			@example <br />
		}
	</b></p>
}