@inherits LearningModule<SharedLibrary.DataTransferObjects.PictureDto>

@if (current != null)
{
	<div>
		<img class="img-thumbnail voclex-large-image w-100" src="@($"{pictureHost}{current.Path}")" />
	</div>
}