@inherits LearningModule<SharedLibrary.DataTransferObjects.PictureDto>

@if (current != null)
{
	<div>
		<img src="@($"{pictureHost}{current.Path}")" style="max-height: 350px; max-width: 600px" />
	</div>
}