<div class="row py-2">
	<div hidden="@(state != ComponentState.Visible)">
        @ChildContent
    </div>
    @if (state == ComponentState.OnDemand)
    {
        <button type="button" class="btn btn-lg btn-block voclex-large-button" @onclick="MakeVisible">Show @ComponentName</button>
    }
</div>

@code {
	public enum ComponentState
	{OnDemand,Visible}

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public ComponentState InitialState { get; set; }
	
	[Parameter]
	public string? ComponentName { get; set; }

	protected ComponentState state;
	protected override void OnInitialized()
	{
		state = InitialState;
	}

    public void ResetToInitialState()
    {
        state = InitialState;
    }

	private void MakeVisible()
	{
		state = ComponentState.Visible;
	}

}
