@using SharedLibrary.DataTransferObjects

@if (Current != null)
{
	<div class="form-floating mb-3">
		<textarea class="form-control" id="definition-value" @bind="@Current.Value"></textarea>
		<label for="definition-value">Definition</label>
	</div>
}

@code {
	[Parameter]
	public DefinitionDto? Current { get; set; }
}
