@using SharedLibrary.DataTransferObjects
@using RazorLibrary.Shared.LearningModulesInputs.Suggestions

@if (Current != null)
{
	<div class="form-floating mb-3">
		<textarea class="form-control" id="example-value" @bind="@Current.Value"></textarea>
		<label for="example-value">Examples</label>
	</div>
}

<StringSuggestionsComponent SuggestionsPath="Examples" Term="Term" SuggestionAdded="SuggestionAdded"></StringSuggestionsComponent>

@code {
	[Parameter]
	public ExampleDto? Current { get; set; }

	[Parameter]
	public TermDto? Term { get; set; }
	
	private void SuggestionAdded(string suggestion)
	{
		Current!.Value += $"{(Current.Value.Length > 0 ? "\n" : string.Empty)}{suggestion}";
	}

}