@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@using RazorLibrary.Shared.LearningModulesInputs.Suggestions
@using SharedLibrary.DataTransferObjects
@using RazorLibrary.DataTransferObjects
@using RazorLibrary.Services.Interfaces
@using System.Net
@inject IJSRuntime JS
@inject IAppHttpClient AppHttpClient


<div class="mb-3" hidden="@(!showThumbnail)">
    <img @ref="imageThumbnailElement" style="max-height: 250px; max-width: 400px" />
</div>

<div class="mb-3">
    <InputFile OnChange="OnChange" @ref="inputFileElement" accept="image/png, image/jpeg, image/gif"></InputFile>
</div>

<PictureSuggestions OnPictureSuggestionSelectedCallback="OnPictureSuggestionSelected" Term="Term"></PictureSuggestions>

@code {//todo move all style tags to css files
    [Parameter, EditorRequired]
    public EventCallback<IBrowserFile> OnFileInput { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<string> OnSuggestionSelected { get; set; }

    [Parameter, EditorRequired]
    public TermDto? Term { get; set; }

    private ElementReference imageThumbnailElement;
    private InputFile inputFileElement = null!;
    private IJSObjectReference jsModule = null!;
    private bool showThumbnail = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(!firstRender) return;

        jsModule = await JS.InvokeAsync<IJSObjectReference>(
            "import", $"./_content/{nameof(RazorLibrary)}/Shared/LearningModulesInputs/{nameof(PictureInput)}.razor.js");
				
    }

    private async Task OnChange(InputFileChangeEventArgs args)
    {
        await ShowUploadedImageThumbnail();
        await OnFileInput.InvokeAsync(args.File);
    }

    private ValueTask ShowUploadedImageThumbnail()
    {
        showThumbnail = true;
        return jsModule.InvokeVoidAsync("previewImage", inputFileElement.Element, imageThumbnailElement);
    }

    private async Task OnPictureSuggestionSelected(ImageSuggestion image)
    {
        await ShowSelectedSuggestionThumbnail(image);

        await OnSuggestionSelected.InvokeAsync(image.FullSizeUrl);
    }


    private async Task ShowSelectedSuggestionThumbnail(ImageSuggestion image)
    {
        showThumbnail = true;
        await jsModule.InvokeVoidAsync("previewImageFromUrl", image.PreviewUrl, imageThumbnailElement);
    }
}
