@page "/dictionary/{dictionaryId:int}/create-new-term"
@using SharedLibrary.DataTransferObjects
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@inject IJSRuntime JS

<div class="container">
	<EditForm Model="newTerm" OnValidSubmit="SaveChanges">
		<DataAnnotationsValidator />
		<ValidationSummary />
		<div class="border-start border-success p-1 mb-3" style="--bs-border-opacity: .25;">
            <div class="form-floating mb-3">
                <InputText class="form-control" id="term-value" @bind-Value="@newTerm.Value"/>
                <label for="term-value">Term</label>
            </div>
		</div>
		@{
		    var parameters = GetLearningModuleParameters();
		}
		@for (var i = 0; i < modules.Length; i++)
		{
			var module = modules[i];
			var i2 = i;
			<div class="border-start border-success p-1 mb-3" style="--bs-border-opacity: .25;">
                <DynamicComponent Type="module" @ref="editableLearningModules[i2]" Parameters="parameters"></DynamicComponent>
            </div>
		}

		<button type="submit" class="btn btn-success" disabled="@(!saveEnabled)">Save</button>
	</EditForm>
</div>

<!-- Modal -->
<div class="modal fade" id="successfulCreation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Success</h1>
			</div>
			<div class="modal-body">
				New term successfully added!
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" @onclick="() => DisposeModalAndGoToUrl(GoBackToDictionaryUrl)"> Go back to dictionary</button>
				<button type="button" class="btn btn-primary" @onclick="() => DisposeModalAndGoToUrl(ContinueEditingUrl)">Continue editing</button>
			</div>
		</div>
	</div>
</div>