@page "/term/edit/{id:int}"
@using SharedLibrary.DataTransferObjects
@using Microsoft.AspNetCore.Components.Forms
@using System.Net.Http.Json
@using RazorLibrary.Shared
@using RazorLibrary.Shared.CreateLearningModules
@using RazorLibrary.Shared.EditLearningModules
@inject HttpClient Http

<div class="container">
	<EditForm Model="currentTerm" OnValidSubmit="SaveChanges">
		<DataAnnotationsValidator />
		<ValidationSummary />
		
        <div class="border-start border-success p-1 mb-3" style="--bs-border-opacity: .25;">
            <div class="form-floating mb-3">
                <InputText class="form-control" id="term-value" @bind-Value="@currentTerm.Value"/>
                <label for="term-value">Term</label>
            </div>
		</div>

		@{ var editParameters = GetEditLearningModuleParameters();}
		@for (var i = 0; i < editModules.Length; i++)
		{
			var module = editModules[i];
			var i2 = i;
			
		    <div class="border-start border-success p-1 mb-3" style="--bs-border-opacity: .25;">
                <DynamicComponent Type="module" @ref="editableLearningModules[i2]" Parameters="editParameters"></DynamicComponent>
		    </div>
		}
		
        @{ var createParameters = GetCreateLearningModuleParameters();}
		@for (var i = 0; i < createModules.Count; i++)
		{
			var module = createModules[i];
		    <div class="border-start border-success p-1 mb-3" style="--bs-border-opacity: .25;">
                <DynamicComponent Type="module" @ref="creatableLearningModulesDictionary[module]" Parameters="createParameters"></DynamicComponent>
		    </div>
		}
		<SuccessAlert Text="Changes saved succesfully!" @ref="successAlert"></SuccessAlert>
		<div class="form-floating mb-3">
			<button type="submit" class="btn btn-success" disabled="@(!saveEnabled)">Save</button>
		</div>
	</EditForm>
</div>