@page "/"

<div class="container">
    <a class="main-button" href="/learn-new-terms">Learn new terms</a>
    <a class="main-button" href="/terms-repetition">Terms repetition</a>
    <a class="main-button" href="/dictionaries">Dictionaries</a>
</div>

@code {
	//todo navmenu
}
