@page "/learn-new-terms"
@using RazorLibrary.Shared
@using SharedLibrary.DataTransferObjects.Queries.Terms
@inherits TermsPage

<PageTitle>Learn New Terms</PageTitle>

<div class="container mt-4">
    @if (CurrentTerm != null)
    {
        <div>
            <TermLearningCard CurrentTerm="@CurrentTerm.Value" LearningModuleParameters="GetLearningModuleParameters()"></TermLearningCard>

            <p class="d-flex justify-content-around py-3">
                <button @onclick="AlreadyKnowThis" type="button" class="btn btn-lg voclex-large-button">I already know this</button>
                <button @onclick="IncorrectGuess" type="button" class="btn btn-lg voclex-large-button">I want to learn it</button>
            </p>
        </div>
    }
    else if(IsLastPage())
    {
        <div>
            <p>There are no more terms to display!</p>
            <p><a href="/create-new-term-main-dictionary">Add new term</a> or <a href="/dictionaries">Add new dictionary</a></p>
        </div>
    }
    else
    {
        <LoadingComponent></LoadingComponent>
    }
</div>

@code {
	protected override TermsListEnumQueryVariants QueryVariant => TermsListEnumQueryVariants.GetOnlyNew;
}

