@page "/learn-new-terms"
@using global::Shared.Queries.Terms
@using RazorLibrary.Shared
@using RazorLibrary.Shared.LearningModules
@inherits TermsPage

<PageTitle>Learn New Terms</PageTitle>

<div class="container">
	@if (CurrentTerm != null)
	{
		<div>
			<Term CurrentTerm="@CurrentTerm.Value" LearningModuleParameters="GetLearningModuleParameters()"></Term>

			<p>
				<button @onclick="AlreadyKnowThis" type="button" class="btn btn-outline-primary btn-lg">I already know this</button>
				<button @onclick="IncorrectGuess" type="button" class="btn btn-outline-primary btn-lg">I want to learn it</button>
			</p>
		</div>
	}
	else
	{
		<div>
			<p>There are no more words to display!</p>
		</div>
	}
</div>

@code {
	private readonly Type[] learningModules = new[] { typeof(Definition), typeof(Examples), typeof(Pictures) };

	protected override TermsListEnumQueryVariants QueryVariant => TermsListEnumQueryVariants.GetOnlyNew;
}

