@page "/dictionaries"
@inject HttpClient Http
@using global::Shared.DataTransferObjects
@using System.Net.Http.Json
@using global::Shared.Queries.TermsDictionary
@using RazorLibrary.Helpers

<PageTitle>Dictionaries</PageTitle>
<div class="container">
	@foreach (var dictionary in dictionaries)
	{
		<div class="py-3 border btn-outline-info row">
			<div>@dictionary.Title</div>
		</div>
	}
</div>

@code {
	private readonly List<TermsDictionaryDto> dictionaries = new();
	protected override async Task OnInitializedAsync()
	{
		var queryObject = new TermsDictionariesListQuery(1, int.MaxValue); //todo pagination by scroll

		var newDictionaries =
			await Http.GetFromJsonAsync<TermsDictionaryDto[]>(
				"TermsDictionary/GetList" + queryObject.ObjectPropertiesToQueryString());

		dictionaries.AddRange(newDictionaries);
	}

}
