@page "/dictionaries"
@inject IAppHttpClient AppHttpClient
@using System.Net.Http.Json
@using RazorLibrary.Helpers
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using RazorLibrary.Services.Interfaces
@using SharedLibrary.DataTransferObjects
@using SharedLibrary.Queries.TermsDictionary
@using RazorLibrary.Shared.Modals

<PageTitle>Dictionaries</PageTitle>
<div class="container">
	<div class="list-group">		
		<Virtualize Items="dictionaries" Context="dictionary">
			<ItemContent>
				<div class="py-3 list-group-item d-flex btn btn-outline-info">
					<a href="/dictionary/@dictionary.Id" class="col-11 text-decoration-none">
						<div class="text-start">@dictionary.Title</div>
					</a>
					<button type="button" @onclick="() => Edit(dictionary)" class="btn btn-success col-1 fa fa-pencil" data-bs-toggle="modal" data-bs-target="#@editModalId">
					</button>
				</div>
			</ItemContent>
		</Virtualize>
		<button type="button" @onclick="OpenCreateModal" class="py-3 border btn btn-outline-primary list-group-item" data-bs-toggle="modal" data-bs-target="#@createModalId">
			<div class="d-flex justify-content-center">Add new dictionary</div>
		</button>
	</div>
</div>

<DictionaryEdit ModalId="@editModalId" Dictionary="currentEditDictionary" SaveChangesHttpMethod="Http.PutAsJsonAsync" OnChangesSaved="OnEditChangesSaved"></DictionaryEdit>
<DictionaryEdit ModalId="@createModalId" Dictionary="newDictionary" SaveChangesHttpMethod="Http.PostAsJsonAsync" OnChangesSaved="OnCreateChangesSaved"></DictionaryEdit>

@code {
	private readonly List<TermsDictionaryDto> dictionaries = new();
	
	private const string editModalId = "dictionaryEditModal";
	private TermsDictionaryDto? currentEditDictionary = null;
	    
	private const string createModalId = "dictionaryCreateModal";
	private TermsDictionaryDto? newDictionary = null;

	protected HttpClient Http => AppHttpClient.ApiClient;

	protected override async Task OnInitializedAsync()
	{
		var queryObject = new TermsDictionariesListQuery(1, int.MaxValue); //todo pagination by scroll

		var newDictionaries =
			await Http.GetFromJsonAsync<TermsDictionaryDto[]>(
				"TermsDictionary/GetList" + queryObject.ObjectPropertiesToQueryString());

		dictionaries.AddRange(newDictionaries);
	}

	private void Edit(TermsDictionaryDto dictionary)
	{
		currentEditDictionary = dictionary;
	}

	private void OnEditChangesSaved(DictionaryEdit.ChangesSavedArgs args)
	{
		currentEditDictionary!.Title = args.Dictionary.Title;
	}

	private void OpenCreateModal()
	{
		newDictionary = new TermsDictionaryDto(0, String.Empty);
	}

	private async Task OnCreateChangesSaved(DictionaryEdit.ChangesSavedArgs args)
	{
		var newModel = args.Dictionary;
		var newModelId = int.Parse(await args.Response.Content.ReadAsStringAsync());
		newModel.Id = newModelId;
		dictionaries.Add(newModel);
	}
}
