.learn-term-button {
    background-color: teal;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%; /* Make the button span the entire width of the container */
}

.learn-term-button:hover {
    background-color: #3e8e41;
    color: white;
}

/* Add shadow effect to buttons */
.learn-term-button {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}