@inherits EditLearningModule<SharedLibrary.DataTransferObjects.DefinitionDto>

@if (firstEntity != null)
{
	<p>
		<label>
			Definition:
			<textarea id="definition-value" @bind="@firstEntity.Value"></textarea>
		</label>
	</p>
}

@code {
	protected override string GetListApiPath => "Definitions/GetList";
	protected override string SaveChangesApiPath => "Definitions";
}
